body{
    background-color: rgb(48,48,48);
    color:rgb(239,235,228);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
}

section{
    background-color: rgb(239,235,238);
    color:rgb(48,48,48);
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    margin:auto;
}

.botao{
    background-color: rgb(12,112,242);
    color: rgb(239,235,238); 
    border: 0px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

